/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/09/2016, 14:30:00
    Author     : mgrosa
*/
body{
    background-color:#fff;
}
.btn-login {    
    float: left;
    padding: 1px 2px 1px 2px;
    color: #ffffff;
    text-transform: initial;
    margin: 8px 8px 0 90%;
    padding: 6px 15px;
    border: 2px solid #fff;  
    border-radius: 3px;
    font-size: 17px;
    line-height: 16px;
    cursor: pointer;

}
.btn-login hover{
    background-color: #fff;
    font-family:serif;
}
.cabecalho{
    top:0%;
    background-image: url('bg2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:50%;
    position:absolute; 
    border:none;
    opacity: 0.7;
    color:greenyellow;

}
.titulo{
    font-size:30pt;
    height: 20%;
    width: 40%;
    color:#f00;  
    padding: 10px 10px 10px 50%;
}
.titulo-quadrados{
    text-align: center;
    color:#006666;
    font-size: 20px;

}
.div-quadros-titulo{
    margin:40% 0% 2% 0%;  
}
.quadros{
    margin:50% 20% 0% 5%;

}

.func1{
    text-align: center;
    border-radius: 4px;
    height: 30%;
    width: 28%;
    margin: -35% 15% 0% 0%;
    background-color:#63aac6;
    position: absolute;
    color: white;
}
.img1-func{
    margin:33% 0% 0% 0%;
    opacity: 0.7;
}

.func2{
    background-color:#99ccff;
    text-align: center;
    border-radius: 3px;
    height: 30%;
    width: 28%;
    margin: -35% 10% 0% 30%;
    position:absolute;
    color:#fff;    
}

.img2-func{
    margin:45% 0% 0% 0%;
    opacity: 0.7;
}
.func3{

    text-align: center;
    border-radius: 4px;
      height: 30%;
    width: 28%;
    margin: -35% 10% 0% 60%;
    background-color:#63aac6;
    position: absolute;
    color: white; 
}
.img3-func{
    margin:43% 0% 0% 0%;
    opacity: 0.7;
}




.quadro-titulo{
    text-align: center;
    font-size: 20pt;
    color:#006666;
}

.rodape{
    margin:5% 0px 0px 0px;
    height: 450px;
    width: 100%;
    background-color:#242424; 
    backface-visibility:hidden;
    position:absolute;
}

.info-ADS{
    color:white;
    font-size: 20pt;
    text-align: center;
    text-decoration:underline;
    margin: 1% 0% 0% 0%;
}

.dado-nome{
    font-family:sans-serif;
    font-size: 12pt;
    color:#ffffff;
}
.dado1{
    text-align: center;
    color:white;
    height:15%;
    width: 20%;
    margin: 3% 0% 0% 10%;
}
.dado2{
    text-align: center;
    color:white;
    height:15%;
    width: 20%;
    margin: -5% 0% 0% 40%;
}
.dado3{
    text-align: center;
    color:white;
    height:15%;
    width: 20%;
    margin: -5% 0% 0% 70%;
}
.fr-img{
    border-radius: 100%;
}

