/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/09/2016, 14:30:00
    Author     : mgrosa
*/

body{
    background-color:#fff;
}

.nav-wrapper{
    background-color: #000000 !important;
}
.cabecalho{ 
   top:6%;
   background-image: url('bg4.jpg');
   background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 80%;
    height:70%;
    position:absolute; 
    border:none;
    opacity: 0.4;
}
.centro{
    padding:40% 10% 10% 5%;
    margin-left: 10% !important;
    

    
}

.txt-motivacao{
    font-size:25pt;
    height: 25%;
    width: 65%;
    color:#fff;
    text-align:end;
    padding: 45px 10px 10px 20%;
}
.txt-autorCitacao{
    font-size:12pt;
    height: 25%;
    width: 75%;
    color:#fff;
    text-align:end;

    padding: 0px 10px 10px 30%;
}

.txt-introducao{
    font-size: 15pt;
    height: 10%;
    width: 80%;
    color:#848484;
    text-align:center;
    padding: 0px 30px 35px 30%;
}
.imgCentral{
   height: 90%;
    width: 90%;
}


.info-ADS{
    color:white;
    font-size: 20pt;
    text-align: center;
    margin: 1% 0% 0% 0%;
}

.fr-img{
    border-radius: 100%;
    height: 70%;
    width: 70%;
    
}
.page-footer{
    background-color:#222 !important;
        
}

.dados-rodape{
     padding: 0px 10px 0px 10px;
     margin-left: 3% !important;
}
.dado-nome{
    color:white; 
}

.footer-copyright{
    background-color:#000 !important;
}